* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  overflow-x: hidden;
}

body {
  /* font-family: "Vollkorn", sans-serif; */
  font-family: "Nunito", sans-serif;
  /* font-family: "Raleway", sans-serif; */

  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-column-gap-md {
  column-gap: 6.4rem;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

strong {
  font-weight: 600;
  color: #fd7e14;
  /* font-size: 115%; */
}

/**************************/
/* HEADERS REUSABLE */
/**************************/

.heading-primary {
  font-size: 5.6rem;
  line-height: 1.05;
  font-weight: 900;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.8rem;
  line-height: 1.05;
  font-weight: 800;
  letter-spacing: -0.5px;

  display: inline-block;
  margin-bottom: 4.8rem;
}

.heading-third {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  font-weight: 800;
  color: #d9480f;
}

.heading-forth {
  font-size: 2rem;
  font-weight: 800;
}

.heading-underline {
  position: relative;
  display: inline-block !important;
}

.heading-underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  border: 4px solid #d9480f;
  /* border-radius: 50% 30% 20% 10%; */
  border-radius: 50%;
  border-color: #d9480f transparent transparent transparent;
}

/**************************/
/* BUTTONS REUSABLE */
/**************************/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.8rem 3.6rem;
  border-radius: 11px;

  text-decoration: none;
}

.btn--full:link,
.btn--full:visited {
  background-color: #d9480f;
  color: #fff;
  transition: 0.3s;
}

.btn--full:hover,
.btn--full:active {
  background-color: #f76707;
  color: #fff;
}

.btn--hollow:link,
.btn--hollow:visited {
  background-color: #f8f9fa;
  color: #333;
  padding: 1.6rem 3.4rem;
  border: 2px solid #fff;

  transition: 0.3s;
}

.btn--hollow:hover,
.btn--hollow:active {
  background: none;
}
